@model IEnumerable<DataLayer.Page>

@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br />
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImageName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageGroup.GroupTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowInSlider)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="~/PageImages//@item.ImageName" alt="تصویر @item.PageGroup.GroupTitle" class="thumbnail" style="max-width:120px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageGroup.GroupTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visit)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ShowInSlider)
            </td>
            <td>
                @item.CreateDate.ToShamsi()
            </td>
            <td>
                <a title="ویرایش" href="/Admin/Pages/Edit/@item.PageId" class="btn btn-sm btn-warning">
                    ویرایش <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a title="حذف" href="/Admin/Pages/Delete/@item.PageId" class="btn btn-sm btn-danger">
                    حذف <i class="glyphicon glyphicon-remove"></i>
                </a>
                <a title="جزئیات" href="/Admin/Pages/Details/@item.PageId" class="btn btn-sm btn-info">
                    جزئیات <i class="glyphicon glyphicon-adjust"></i>
                </a>
            </td>
        </tr>
    }

</table>
<br />
<p>
    <a href="/Admin/Pages/Create" class="btn btn-success">افزودن مطلب جدید</a>
</p>
